<h1 class="text-center mt-3 mb-3">Liste des recettes</h1>

<div class="container">
  <div *ngFor="let rec of recipes" class="card card-custom view zoom">
    <a href="/recipe/display/{{rec.id}}">
      <div class="row card-body">
        <img class="img col-2" alt="img" [src]="rec.pictures[0]">
        <h4 class="align-self-center col-10">{{rec.name}}</h4>
      </div>
    </a>
  </div>
</div>

<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="actualpage != 1 && getListRecipes(actualpage - 1)" aria-label="Précédent">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Précédent</span>
      </a>
    </li>
    <li *ngFor="let page of pages" class="page-item">
      <a class="page-link" (click)="actualpage != page && getListRecipes(page)">{{page}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="actualpage != getPages() && getListRecipes(actualpage + 1)" aria-label="Suivant">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Suivant</span>
      </a>
    </li>
  </ul>
</nav>