# Maven
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Images
src/main/resources/static/img
src/test/resources/static/img

# Files
src/main/resources/static/xml
src/test/resources/static/xml