<div class="container">
  <div class="card card-custom mx-auto">
    <div class="card-body">
      <h4 class="card-title text-center">Admin Menu</h4>
      <div class="row text-center">
        <a href="/admin/add" class="btn btn-primary col-12" type="button">Ajout des recettes</a>
        <a href="/admin/remove" class="btn btn-primary col-12" type="button">Suppression des recettes</a>
      </div>
    </div>
  </div>
  <div class="mt-3 mb-3 text-center">
    <button class="btn btn-danger btn-lg" type="button" (click)="back()">Retour</button>
  </div>
</div>